#containerA{
    width:100vw;
    height:332vh;
    text-align: center;
    overflow: hidden;
}
#containerA>p{
    font-size: 2rem;
    font-weight:bold;
}
#about{
    width: 105%;
    height:100vh;
    background-color: rgb(95, 158, 160);
    position: relative;
   right:1vw;
}
.aboutHead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#aboutContent{
    background-color: rgba(245, 245, 220, 0.361);
    width: 70vw;
    height: 85vh;
}
#parkSign{
    position: absolute;
    bottom:0px;
    right:0px;
    color:rgb(198, 198, 9);
   height:20vh;
   width: 20vw;
}
#road_png{
    width:22vw;
    position:absolute;
    bottom: 0px;
    left:0px;
}
#parking_png{
    width:22vw;
    position:absolute;
    bottom: 0px;
    left:0px;
}
#road_parking{
position: relative;
bottom: 60vh;
left:70vw;
width:20vw;
height:50vh;
}
@media (min-width:992px) and (max-width:1100px){
    .aboutHead{
        width:15vw;
    }
    #road_parking{
        width:40vw;
        height:20vh;
        position: absolute !important;
        left:60vw !important;
        top:20vh;
    }
    #parking_png{
        visibility: visible;
        width:25vw;
        height:25vh;
    }
    #road_png{
        visibility: visible;
        width:25vw;
        height:25vh;
    }
    #aboutContent{
    background-color: rgba(245, 245, 220, 0.361);
    width: 55vw;
    height: 70vh;
    }
    #road_parking{
    position: relative;
    bottom: 60vh;
    left:70vw;
    width:12vw;
    height:42vh;
    }
}
@media (min-width:768px) and (max-width:991px){
    .aboutHead{
        width:20vw;
    }
    #road_parking{
        width:40vw;
        height:20vh;
        position: absolute !important;
        left:60vw !important;
        top:20vh;
    }
    #parking_png{
        visibility: visible;
        width:25vw;
        height:25vh;
    }
    #road_png{
        visibility: visible;
        width:25vw;
        height:25vh;
    }
    #aboutContent{
    background-color: rgba(245, 245, 220, 0.361);
    width: 55vw;
    height: 70vh;
    }
    #road_parking{
    position: relative;
    bottom: 60vh;
    left:70vw;
    width:12vw;
    height:42vh;
    }
}
@media (min-width:576px) and (max-width:767px){
  .aboutHead{
        width:25vw;
    }
    #road_parking{
        width:40vw;
        height:20vh;
        position: absolute !important;
        left:60vw !important;
        top:20vh;
    }
    #parking_png{
        visibility: visible;
        width:22vw;
        height:22vh;
    }
    #road_png{
        visibility: visible;
        width:22vw;
        height:22vh;
    }
    #aboutContent{
    background-color: rgba(245, 245, 220, 0.361);
    width: 55vw;
    height: 70vh;
    font-size: small;
    }
    #road_parking{
    position: relative;
    bottom: 60vh;
    left:70vw;
    width:12vw;
    height:42vh;
    }
}
@media (min-width:300px) and (max-width:575px){
   .aboutHead{
        width:35vw;
    }
    #road_parking{
        width:40vw;
        height:20vh;
        position: absolute !important;
        left:40vw !important;
        top:24vh;
    }
    #parking_png{
        visibility: visible;
        width:30vw;
        height:20vh;
    }
    #road_png{
        visibility: visible;
        width:30vw;
        height:25vh;
    }
    #aboutContent{
    background-color: rgba(245, 245, 220, 0.361);
    width: 90vw;
    height: 70vh;
    font-size: x-small;
    }
    #road_parking{
    position: relative;
    bottom: 60vh;
    left:70vw;
    width:12vw;
    height:42vh;
    }
}
#career{
    width: 106%;
    height:150vh;
    background-color:lightgrey;
    position:relative;
    right:2vw;
}
.team{
    background-image:url(./src/assets/Horizontal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.positions>#card{
    width:20vw;
    height:60vh;
    position:relative;
    top:10vh;
    background-color: rgba(0, 255, 255, 0.05);
}
.positions>#card:hover{
   width:20.5vw;
   height:60.5vh;
   box-shadow: 2px 2px 10px lightyellow;
}
@media(min-width:0px) and (max-width:1150px){
    .positions{
        flex-direction: column;
        position:relative;
        left:25vw;
        gap:50px;
    }
   .positions>#card{
    width:60vw;
    height:20vh;
}
.team{
    background-size: cover;
    background-repeat: no-repeat;
    height:48vh;
}
}
@media(min-width:0px) and (max-width:825px){
    .positions>#card{
        height: 25vh;
    }
    .team{
    background-size: cover;
    background-repeat: no-repeat;
    height:30vh;
}
}
@media (max-width:515px){
    .positions>#card{
       font-size: small;
    }
    .team{
    background-size: cover;
    background-repeat: no-repeat;
    height:20vh;
}
.team Button{
    position: relative;
    bottom:6vh;
}
}
#contact{
    width:100vw;
    height:80vh;
    margin-left: -10px;
    background-color: black;
    box-shadow: 2px 3px 3px 2px red;

}
                                                    /* Contact Section*/
.form_heading{
    font-size: 2rem;
    font-family: cursive;
    text-align: center!important;
    position:relative;
    top:2vh;
}
#contact_Sec{
    background-image:url(./src/assets/contact_bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    gap:50vw;
    width:100vw;
    height:85vh;
    margin-left: -15px;
}
Form{
    position:relative;
   bottom:0vh;
}
#F_Group{
     position:relative;
    top:2vh;
    left:12vw;
}
#submit_butt{
    position: relative;
    top:3vh;
}
.label_contact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}