#customer_container{
    width:105vw;
    height:200vh;
    background-color:whitesmoke;
    position:relative;
    right:1.1vw;
    margin: 0px;
    padding :0px;
    overflow-x: hidden;
}
.cont{
    width: 100%;
    height: 100vh;
    background-color:#0E1B35;
}
.customer_navbar{
    height:10vh;
}
#customer_brand{
    margin-top: 2vh;
}
.customer_navbar>Button{
    position:relative;
    right:10vw;
    width:25vh;
    background-color:#04112c;
}
.NavLink{
    font-weight: bold;
    color:darkgray;
}
.NavLink:hover{
   text-decoration: overline;
}
#NavL{
     font-weight: bold;
    color:darkgray;
}
#NavL:hover{
    color:#04112c;
    text-decoration:overline;
}
#profile{
    display: none;
}
@media (min-width:768px) and (max-width:900px){
#customer_brand{
    font-size:1.5em;
}
.Nav_customer{
    gap:3vw !important;
}
.customer_navbar>Button{
    width:15vh;
    height: 5vh;
}
#profile{
    visibility: hidden;
}
}
@media (min-width:576px) and (max-width:768px){
#customer_brand{
    font-size:1.3em;
}
.Nav_customer{
    gap:2.5vw !important;
}
.customer_navbar>Button{
    width:12vh;
    height: 4vh;
    font-size: 0.8em;
}
.NavLink{
    font-size: 0.8em !important;
}
#NavL{
    font-size: 0.8em !important;
}
#profile{
    visibility: hidden;
}
}
@media (min-width:431px) and (max-width:576px){
#customer_brand{
    font-size:1.5em;
    position: relative !important;
    top:-4vh !important;
}
.Nav_customer{
    gap:2.3vw !important;
    position: relative !important;
    top:1vh !important;
    right: 15vw;
}
.customer_navbar>Button{
    display: none;
}
.NavLink{
    font-size: 0.78em !important;
}
#NavL{
    font-size: 0.78em !important;
}
#profile{
    display: inline;
    color:whitesmoke;
    position: relative;
    right:10vw;
    border: 2px solid #04112c;
    border-radius: 15px;
    cursor: pointer;
}
}
@media (min-width:0px) and (max-width:430px){
#customer_brand{
    font-size:1.5em;
    position: relative !important;
    top:-4vh !important;
}
.Nav_customer{
    gap:2.3vw !important;
    position: relative !important;
    top:2vh !important;
    right: 22vw;
}
.customer_navbar>Button{
   display: none;
}
.NavLink{
    font-size: 0.78em !important;
}
#NavL{
    font-size: 0.78em !important;
}
#profile{
    display: inline;
    color:whitesmoke;
    position: relative;
    right:80vw;
    bottom:3vh;
    border: 2px solid #04112c;
    border-radius: 15px;
    cursor: pointer;
}
}
                                    /*LEFT*/
.lft>h6{
    color:#6390BD;
    border:1px solid #6390BD;
}
.lft>p{
    color:#A7B8D3;
    font-size:0.78rem;
}
@media (min-width:992px) and (max-width:1050px){
.para_lft{
    width:90% !important;
}
}
@media (min-width:768px) and (max-width:991px){
.title_lft{
    width:65% !important;
}
    .para_lft{
    width:105% !important;
}
}
@media (min-width:576px) and (max-width:767px){
.cont{
    flex-direction:column !important;
}
.lft{
    width:100vw !important;
}
.title_lft{
    width:45% !important;
}
.para_lft{
    width:75% !important;
}
.rght{
    width:100vw !important;
}
}
@media (min-width:0px) and (max-width:575px){
.cont{
    flex-direction:column !important;
}
.lft{
    width:100vw !important;
}
.title_lft{
    width:70% !important;
}
.para_lft{
    width:120% !important;
}
.rght{
    width:100vw !important;
}
.btn{
    width:75% !important;
}
}
                                                    /*RIGHT*/
.slots>div{
        border:1px solid darkblue;
        display:inline-block;
        width:30px !important;
}